{
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"quotes": [2, "single"],
		"func-names": [2],
		"no-unused-vars": [2, {"vars": "local", "args": "none"}],
		"block-scoped-var": [2],
		"func-style": [2, "declaration"],
		"max-nested-callbacks": [2, 2],
		"max-depth": [2, 2],
		"max-params": [2, 4],
		"max-statements": [1, 30],
		"no-plusplus": [2]
	}
}
