"*":
  editor:
    showInvisibles: true
    showIndentGuide: true
    scrollPastEnd: true
    invisibles: {}
    fontSize: 12
    fontFamily: "\"Source Code Pro\""
    softTabs: false
  core:
    disabledPackages: [
      "styleguide"
      "color-picker"
      "update-packages"
      "atom-ternjs"
      "atom-color-highlight"
      "autocomplete"
      "background-tips"
    ]
    autoHideMenuBar: true
  "exception-reporting":
    userId: "406ddf21-c477-b04d-5ef4-d79c1095d793"
  welcome:
    showOnStartup: false
  metrics:
    userId: "11966fd73561b3a55a28583458a8eb7b739c7b9b"
  "vim-mode":
    startInInsertMode: true
  minimap:
    plugins:
      selection: true
      "highlight-selected": true
      "find-and-replace": true
      "git-diff": true
      bookmarks: true
    scrollAnimation: true
    displayMinimapOnLeft: true
  autosave:
    enabled: true
  emmet: {}
  "todo-list":
    showOnRightSide: false
  "autocomplete-emojis": {}
  "autocomplete-haskell": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    suggestionListFollows: "Word"
  "atom-ternjs":
    coffeeScript: true
  "file-types":
    vue: "text.html.basic"
  "atom-color-highlight": {}
  "git-plus": {}
  "markdown-preview":
    openPreviewInSplitPane: false
  "todo-show":
    openListInDirection: "ontop"
