packages: [
  "atom-color-highlight"
  "autocomplete-emojis"
  "autocomplete-glsl"
  "bezier-curve-editor"
  "date"
  "editorconfig"
  "emmet"
  "ex-mode"
  "file-type-icons"
  "file-types"
  "fold-lines"
  "git-plus"
  "highlight-line"
  "highlight-selected"
  "language-glsl"
  "language-haskell"
  "language-hjson"
  "language-javascript-jsx"
  "language-lua"
  "language-rust"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "package-sync"
  "todo-show"
  "vim-mode"
]
